<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>演示页面</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // $("#reload").click(function(){
            //     location.reload()
            // });
        });
    </script>

    <style type="text/css">
        .center {
            margin: 10px auto;
            width: 1080px;
            background-color: #eae9e9;
            background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
            padding: 1px 50px 10px 50px;
            border-radius: 10px;
        }
        .start-end{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0 10px;
            justify-items: center;
        }

    </style>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <div class="center">
        <h3 style="text-align: center">Insun 阅读理解系统</h3>
        <!--<div style="text-align: right"> —insun 实验室 </div>-->
        <form action="/predict" method="post">
            <input type="hidden" name="index" value="{{index}}">

            <div class="form-group">
                <label class=" control-label">文章 {{index}}</label>
                {% if not context_start_prob %}
                    <textarea class="form-control" rows="10" name="context">{{context}}</textarea>
                {% else %}
                    <textarea class="form-control" rows="10" name="context" style="display: none;">{{context}}</textarea>
                {% endif %}

                {% if context_start_prob %}
                <div class="start-end">
                    <p style="background-color: white;padding:10px;border-radius:5px"> {{context_start_prob| safe }}</p>
                    <p style="background-color: white;padding:10px;border-radius:5px"> {{context_end_prob| safe }}</p>
                    <span>开始位置预测</span>
                    <span>结束位置预测</span>
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                <label class=" control-label">问题：</label>
                <textarea class="form-control" rows="3" name="question">{{ question }}</textarea>
            </div>
            <div class="form-group">
                <label>正确答案 (含多个人工标注候选项)：</label> <input name="answer" type="text" class="form-control" value="{{ answer }}"/>
            </div>
            <div class="form-group">
                <label>预测的答案：</label> <input name="predict" type="text" class="form-control" value="{{ predict }}"/>
            </div>
            <div class="form-group">
                <!--这个 if 没有什么用了-->
                <!--{% if inital %} {% else %}<h5 style="color:red">先<span>获取文章</span>，再<span>预测</span></h5>{% endif %}-->
                <a href="/" class="btn btn-primary">随机获取文章</a>
                <button type="submit" class="btn btn-success">预测</button>
            </div>
        </form>

    </div>
</div>

</body>
</html>