<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Insun 阅读理解系统</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#prob_view_div").hide(); //一开始将预测的概率图隐藏起来
            $('#context_num_input').popover();
        });

        //选择其他问题时更新页面的操作
        function change_question() {
            var question = $("select option:selected");
            $("#true_answer").val(question.attr("data_answer"));//更新真正的答案
            $("#question_index").html("No.".concat(question.index() + 1));
            $("#predict_answer").val("");//清空上次预测的答案
            $("#prob_view_div").hide();//隐藏概率图
            $("#context_div").show();//显示输入框
        }

        function get_context() {
            num = $("#context_num_input").val();
            window.location.href = "/" + num;
        }

        //ajax 请求后台
        function predict() {
            data = {
                "uuid": $("select option:selected").val()
            };
            btn = $("#predict_btn");
            if (btn.attr("disabled") === "disabled") {
                return;
            }
            btn.attr("disabled", "disabled");
            $.post("/predict", data, function (res) {
                $("#predict_answer").val(res["predict_answer"]);//显示预测答案
                $("#start_probs").html(res["start_probs"]);//开始位置预测概率
                $("#end_probs").html(res["end_probs"]);//结束位置预测概率
                if (res['success']) {
                    $("#prob_view_div").show();//显示概率图
                    $("#context_div").hide();//隐藏输入框
                }
                btn.removeAttr("disabled");
            });
        }
    </script>

    <style type="text/css" >


    </style>

    <link rel="stylesheet" type="text/css" href="../static/main.css">

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <div class="center">
        <ul class="nav nav-tabs ">
            <li role="presentation" class=""><a href="#" style="font-size: larger;font-weight: bolder;"> Insun阅读理解系统</span></a></li>
            <li role="presentation" class="active"><a href="#">验证集数据演示</a></li>
            <li role="presentation"><a href="/online">在线预测</a></li>
        </ul>
        <h4 style="text-align: center">验证集数据演示</h4>

        <form action="" method="post">

            <!--隐藏的下标等id-->
            <input type="hidden" name="context_index" value="{{context_index}}">
            <input type="hidden" name="question_index" value="{{question_index}}">

            <div id="context_div" class="form-group">
                <label class=" control-label">文章 <span class="badge">No.{{context_index}}</span></label>
                <textarea class="form-control" rows="10" name="context">{{context}}</textarea>
            </div>

            <div class="form-group" id="prob_view_div" style="display: none;margin-bottom: 0;">
                <label class="control-label">答案预测概率分布可视化</label>
                <div class="start-end">
                    <p id="start_probs" class="grid_item"></p>
                    <p id="end_probs" class="grid_item"></p>
                    <span>答案开始位置概率</span>
                    <span>答案结束位置概率</span>
                </div>
            </div>

            <div class="form-group">
                <label class=" control-label">问题 <span class="badge" id="question_index">No.{{question_index}}</span></label>
                <select class="form-control" onchange="change_question()" name="question_uuid">
                    {% for qa in qas %}
                    {% if question == qa[1] %}
                    <option value="{{qa[0]}}" data_answer="{{qa[2]}}" selected>{{qa[1]}}</option>
                    {% else %}
                    <option value="{{qa[0]}}" data_answer="{{qa[2]}}">{{qa[1]}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label>正确答案 (含多个人工标注候选项，✔️是分隔符)：</label>
                <input id="true_answer" name="true_answer" type="text" class="form-control" value="{{ true_answer }}"/>
            </div>

            <div class="form-group">
                <label>预测的答案</label>
                <input id="predict_answer" name="predict_answer" type="text" class="form-control" placeholder="请点击「预测」按钮，获取模型预测结果"/>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <div class="input-group">
                        <input id="context_num_input" type="text" class="form-control" placeholder="随机" role="button" data-trigger="hover"
                               data-container="body" data-placement="bottom" data-content="指定文章编号（默认随机）" oninput="value=value.replace(/[^\d]/g,'')">
                        <span class="input-group-btn">
                            <button id="get_context_btn" onclick="get_context()" class="btn btn-primary" type="button">获取文章</button>
                        </span>
                    </div>
                </div>
                <button type="button" onclick="predict()" id="predict_btn" class="btn btn-success">预测</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>